
.icon-search:before { content: '\e800'; } /* '' */
.icon-quote:before { content: '\e801'; } /* '' */
.icon-twitter-circled:before { content: '\e803'; } /* '' */
.icon-facebook-circled:before { content: '\e802'; } /* '' */
.icon-linkedin-circled:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */